[data-theme='my-custom-theme'] {
	--text-scaling: 1;
	--base-font-color: var(--color-primary-800);
	--base-font-color-dark: var(--color-primary-300);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: system-ui, sans-serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-600);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 9999px;
	--radius-container: 0.5rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: oklch(1 0 0 / 1);
	--body-background-color-dark: var(--color-surface-950);
	/* primary | #613bf7 */
	--color-primary-50: oklch(92.52% 0.04 293.78deg);
	--color-primary-100: oklch(89.93% 0.05 293.99deg);
	--color-primary-200: oklch(87.46% 0.07 294.74deg);
	--color-primary-300: oklch(80.00% 0.11 293.01deg);
	--color-primary-400: oklch(65.26% 0.19 289.27deg);
	--color-primary-500: oklch(52.68% 0.26 282.22deg);
	--color-primary-600: oklch(48.77% 0.24 282.34deg);
	--color-primary-700: oklch(42.89% 0.21 282.94deg);
	--color-primary-800: oklch(36.72% 0.17 283.27deg);
	--color-primary-900: oklch(32.23% 0.15 284.10deg);
	--color-primary-950: oklch(28.37% 0.12 284.40deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	/* secondary | #9de1ae */
	--color-secondary-50: oklch(97.77% 0.02 154.78deg);
	--color-secondary-100: oklch(96.90% 0.02 155.14deg);
	--color-secondary-200: oklch(96.30% 0.02 153.07deg);
	--color-secondary-300: oklch(93.90% 0.04 153.61deg);
	--color-secondary-400: oklch(89.38% 0.07 152.53deg);
	--color-secondary-500: oklch(85.08% 0.10 151.74deg);
	--color-secondary-600: oklch(78.75% 0.09 152.01deg);
	--color-secondary-700: oklch(68.81% 0.08 151.96deg);
	--color-secondary-800: oklch(58.41% 0.07 151.61deg);
	--color-secondary-900: oklch(50.52% 0.05 151.64deg);
	--color-secondary-950: oklch(43.97% 0.05 152.29deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	/* tertiary | #3fa0a6 */
	--color-tertiary-50: oklch(94.73% 0.02 201.96deg);
	--color-tertiary-100: oklch(92.93% 0.02 200.84deg);
	--color-tertiary-200: oklch(91.09% 0.03 202.96deg);
	--color-tertiary-300: oklch(85.80% 0.04 200.36deg);
	--color-tertiary-400: oklch(75.46% 0.07 200.60deg);
	--color-tertiary-500: oklch(65.16% 0.09 200.94deg);
	--color-tertiary-600: oklch(60.34% 0.08 200.52deg);
	--color-tertiary-700: oklch(52.95% 0.07 201.52deg);
	--color-tertiary-800: oklch(45.28% 0.06 201.53deg);
	--color-tertiary-900: oklch(39.30% 0.05 201.04deg);
	--color-tertiary-950: oklch(34.45% 0.04 199.91deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	/* success | #37b3fc */
	--color-success-50: oklch(95.64% 0.03 233.06deg);
	--color-success-100: oklch(94.11% 0.03 232.29deg);
	--color-success-200: oklch(92.63% 0.04 233.41deg);
	--color-success-300: oklch(88.46% 0.07 233.95deg);
	--color-success-400: oklch(80.38% 0.11 236.15deg);
	--color-success-500: oklch(73.24% 0.15 240.02deg);
	--color-success-600: oklch(67.75% 0.14 240.13deg);
	--color-success-700: oklch(59.23% 0.12 239.88deg);
	--color-success-800: oklch(50.42% 0.10 239.71deg);
	--color-success-900: oklch(43.90% 0.08 238.52deg);
	--color-success-950: oklch(38.31% 0.07 238.51deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	/* warning | #d209f8 */
	--color-warning-50: oklch(92.39% 0.06 320.56deg);
	--color-warning-100: oklch(90.02% 0.08 320.61deg);
	--color-warning-200: oklch(87.66% 0.10 321.16deg);
	--color-warning-300: oklch(80.73% 0.15 321.08deg);
	--color-warning-400: oklch(69.44% 0.26 321.02deg);
	--color-warning-500: oklch(63.24% 0.30 319.34deg);
	--color-warning-600: oklch(58.44% 0.28 319.44deg);
	--color-warning-700: oklch(51.17% 0.24 319.65deg);
	--color-warning-800: oklch(43.44% 0.21 319.56deg);
	--color-warning-900: oklch(37.65% 0.18 319.63deg);
	--color-warning-950: oklch(32.70% 0.15 319.57deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-light);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	/* error | #90df16 */
	--color-error-50: oklch(96.83% 0.04 125.05deg);
	--color-error-100: oklch(95.97% 0.06 124.87deg);
	--color-error-200: oklch(94.88% 0.07 125.46deg);
	--color-error-300: oklch(92.00% 0.11 125.70deg);
	--color-error-400: oklch(86.77% 0.18 128.04deg);
	--color-error-500: oklch(82.08% 0.22 130.94deg);
	--color-error-600: oklch(75.96% 0.20 130.83deg);
	--color-error-700: oklch(66.24% 0.18 130.70deg);
	--color-error-800: oklch(56.41% 0.15 130.68deg);
	--color-error-900: oklch(48.78% 0.13 130.07deg);
	--color-error-950: oklch(42.39% 0.11 129.81deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-dark);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	/* surface | #46a1ed */
	--color-surface-50: oklch(95.10% 0.02 241.44deg);
	--color-surface-100: oklch(93.43% 0.03 243.16deg);
	--color-surface-200: oklch(91.99% 0.04 243.03deg);
	--color-surface-300: oklch(86.95% 0.06 244.53deg);
	--color-surface-400: oklch(77.59% 0.10 244.99deg);
	--color-surface-500: oklch(68.82% 0.14 247.03deg);
	--color-surface-600: oklch(63.71% 0.13 246.80deg);
	--color-surface-700: oklch(55.91% 0.11 246.91deg);
	--color-surface-800: oklch(47.73% 0.09 246.21deg);
	--color-surface-900: oklch(41.44% 0.08 246.19deg);
	--color-surface-950: oklch(36.34% 0.07 245.64deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
